# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=postgresql://postgres:你的密码@localhost:5432/你的数据库名
JWT_SECRET=open-english-app-secret

# # 阿里云短信配置
# ALIYUN_ACCESS_KEY_ID=your_aliyun_access_key_id
# ALIYUN_ACCESS_KEY_SECRET=your_aliyun_access_key_secret
# ALIYUN_SMS_SIGN_NAME=阿里云短信测试
# ALIYUN_SMS_TEMPLATE_CODE=SMS_154950909

# 以上是示例配置，请根据实际情况修改并保存为 .env 文件
